body{
    background:#f7e6d3;
    color: dimgray;
    font-family: 'Baskervville', serif;
    letter-spacing: 0.5px;
    word-spacing: 0.5em;
}
/*nav bar*/
.menu_left{
    display: inline-flex;
    list-style: none;
    float: left;
}

.menu_left img{
    width: 30px;
    margin-right: 30px;
    align-items: center;
}
.navText{
    visibility: hidden;
    transform: translate(-25%);
    text-align: center;
}
.icon:hover .navText {
    visibility: visible;
    color: #e2af90;

}
.social_right{
    display: inline-flex;
    list-style: none;
    float: right;
}
.social_right button{
    width: 85px;
    padding: 10px;
    text-align: center;
    background-color: #f7e6d3;
    border-style: none;
}
/*page styling*/
a{
    text-decoration: none;
    color: #e2af90;
}
.avi img{
    width: 300px;
    justify-items: center;
}

.intro h1{
    clear: both;
    color: #c3846b;
    text-align: center;
    font-size: 5em;
    font-family: 'Baskervville', serif;
    max-width: 80%;
    margin: auto;
}

h1{
    color: #c3846b;
    font-size: 2em;
    font-family: 'Baskervville', serif; 
    margin-left: 2em;
    margin: 50px;
}
h2{
    color: #c3846b;
    text-align: center;
    font-size: 1.25em; 
    font-family: 'Baskervville', serif; 
    margin: auto;
    margin-top: 50px;
}

.about_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.avi{
    grid-column: 2 ;
    grid-row: 1;
    margin: auto;
}
.bio{
    grid-column: 1;
    grid-row: 1;
    margin: 0 50px 0 150px;
}
.answer{
    margin-top: 40px;
}

h3{
    letter-spacing: 5px;
    color: #c3846b;
    font-family: 'Baskervville', serif;
}

/*work wrapper*/
.wrapper{
    display: grid;
    grid-template-columns: 1fr, 1fr;
}
    #app{
        grid-column: 1;
        grid-row: 1;
        margin: 50px 0 50px 200px;
    }
    .one_des{ 
        grid-column: 2 ;
        grid-row: 1;
        margin: 50px 150px 50px 0px;
    }
    #graphics{
        grid-column: 2;
        grid-row: 2;
        margin: 150px 200px 150px 0px;
    }
    .two_des{
        grid-column: 1;
        grid-row: 2;
        margin: 150px 50px 150px 200px;
    }
    .threevis{ 
        grid-column: 1;
        grid-row: 3;
        margin: 50px 150px 50px 150px;
    }
    .three_des{ 
        grid-column: 2;
        grid-row: 3;
        margin: 50px 150px 50px 0px;
    }
    .threevis img{
        width: 500px;
        border-style: solid;
        border-color: #c3846b;
    }


/*slider*/
.slider {
    width: 500px;
    text-align: center;
    overflow: hidden;
    z-index: 900;
    border-style: solid;
    border-color: #c3846b;
    background-color: #f4f4f4;
  }
  
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: #c3846b;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 500px;
    height: 600px;
    margin-right: 20px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.3s;
    position: relative;
  }
  .slider img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
.videoes {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 50px 150px 0 150px;
}
.video3{
    background-color: #f4f4f4;
}

/*contact form*/
#contact_form{
    margin: auto;
}
label {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Baskervville', serif;
  }
  
  #submit_button {
    background-color: #c3846b;
    height: 50px;
    width: 30%;
    color: #f7f7f7;
  }
  
  input, textarea {
    background-color: #f7f7f7;
    color: dimgray;
    width: 350px;
    height: 35px;
    margin-bottom: 15px;
    border-color: #c3846b;
    border-style: none;
  }
  .required{
      color: #c3846b;
      font-family: 'Baskervville', serif;
      font-weight: bold;
  }
    #message{
      height: 200px;
  }

footer{
    margin-top: 60px;
    background-color: #f7f7f7;
    height: 20%;
}

.socials{
    list-style: none;
    display: flex;
}

.email{
    margin-top: 200px;
    margin-left: 40px;
}

//tablet and above devices
@media (min-width: 768px) { 
    .contact-wrap{
      width: 60%;
      margin: auto;
    }
    .social_right{
       
    }
  }

@media screen and (min-width: 1000px) { 

    .wrapper{
        width: 50%;
    }



}



